body {
  margin-left: 10px;
}
.firstscreen {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.currency {
  display: flex;
  align-items: center; /* выравнивание по одной линии */
  gap: 15px; /* расстояние между элементами */
  font-size: 2rem;
  margin-bottom: 20px;
}

.currency h3 {
  margin: 0; /* убираем стандартные отступы */
  font-size: 2rem; /* одинаковый размер */
}

.currency input,
.currency button {
  height: 50px; /* одинаковая высота */
  font-size: 1.2rem; /* одинаковый текст */
  padding: 0 10px;
  border-radius: 5px;
}
